---
import { client } from '../../tina/__generated__/client'
import { TinaMarkdown } from 'tinacms/dist/rich-text'
import Layout from "../layouts/Layout.astro"
import FileLink from '../components/FileLink.astro'
import { getPosts } from '../api.js';

const posts = await getPosts(Astro.request);
const postImages = posts.data.map(post => post.media_url).filter(post => !post.includes('video')).slice(0, 12);
const data = await client.queries.homepage({ relativePath: 'homepage.md' })
---

<Layout title="Šárka - Tetování Praha">
	<section class="section section--intro"></section>
	<section class="intro">
		<div class="introText">
			<TinaMarkdown content={data.data.homepage.introText} />
		</div>
	</section>
	<div id="aboutMe" class="sectionAnchor"></div>
	<section class="section section--about">
		<div class="content">
			<h2 class="title">O mně</h2>
			<TinaMarkdown content={data.data.homepage.aboutText} />
			<div class="socialLinks">
				<a href="https://www.instagram.com/sarka.ink/" class="socialLink" target="_blank">
					<svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 512 512"><linearGradient id="a" x1="65.904" x2="446.357" y1="444.477" y2="64.023" gradientUnits="userSpaceOnUse"><stop offset="0" style="stop-color:#ffc107"/><stop offset=".221" style="stop-color:#f98d1c"/><stop offset=".514" style="stop-color:#f1423b"/><stop offset=".833" style="stop-color:#b93088"/><stop offset=".994" style="stop-color:#9c27b0"/></linearGradient><path d="M343.193 22H168.32C87.854 22 23 86.863 23 166.958v174.079C23 421.137 87.854 487 168.32 487h174.873C423.66 487 490 421.137 490 341.037V166.958C490 86.863 423.66 22 343.193 22zM446 341.037C446 397.025 399.438 443 343.193 443H168.32C112.071 443 66 397.025 66 341.037V166.958C66 110.973 112.071 65 168.32 65h174.873C399.438 65 446 110.973 446 166.958v174.079z" style="fill:url(#a)"/><linearGradient id="b" x1="173.511" x2="338.003" y1="336.245" y2="171.753" gradientUnits="userSpaceOnUse"><stop offset="0" style="stop-color:#ffc107"/><stop offset=".221" style="stop-color:#f98d1c"/><stop offset=".514" style="stop-color:#f1423b"/><stop offset=".833" style="stop-color:#b93088"/><stop offset=".994" style="stop-color:#9c27b0"/></linearGradient><path d="M255.756 137.947c-64.382 0-116.581 51.961-116.581 116.055 0 64.085 52.199 116.045 116.581 116.045 64.383 0 116.58-51.96 116.58-116.045 0-64.094-52.197-116.055-116.58-116.055zm0 188.584c-40.164 0-72.86-32.551-72.86-72.529 0-40.016 32.696-72.534 72.86-72.534 40.162 0 72.861 32.519 72.861 72.534 0 39.978-32.699 72.529-72.861 72.529z" style="fill:url(#b)"/><linearGradient id="c" x1="370.118" x2="392.037" y1="140.203" y2="118.284" gradientUnits="userSpaceOnUse"><stop offset="0" style="stop-color:#ffc107"/><stop offset=".221" style="stop-color:#f98d1c"/><stop offset=".514" style="stop-color:#f1423b"/><stop offset=".833" style="stop-color:#b93088"/><stop offset=".994" style="stop-color:#9c27b0"/></linearGradient><path d="M381.08 113.779c-8.581 0-15.538 6.924-15.538 15.463 0 8.54 6.957 15.467 15.538 15.467 8.573 0 15.532-6.927 15.532-15.467 0-8.539-6.959-15.463-15.532-15.463z" style="fill:url(#c)"/></svg>
				</a>
				<a href="https://www.facebook.com/sarkaartist" class="socialLink" target="_blank">
					<svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 512 512"><path d="M512 256C512 114.615 397.385 0 256 0S0 114.615 0 256c0 127.777 93.616 233.685 216 252.89V330h-65v-74h65v-56.4c0-64.16 38.219-99.6 96.695-99.6 28.009 0 57.305 5 57.305 5v63h-32.281C305.918 168 296 187.733 296 207.978V256h71l-11.35 74H296v178.89C418.385 489.685 512 383.777 512 256Z" style="fill:#1877f2;fill-rule:nonzero"/><path d="M355.65 330 367 256h-71v-48.022c0-20.245 9.917-39.978 41.719-39.978H370v-63s-29.297-5-57.305-5C254.219 100 216 135.44 216 199.6V256h-65v74h65v178.89a257.912 257.912 0 0 0 40 3.11c13.608 0 26.966-1.065 40-3.11V330h59.65Z" style="fill:#fff;fill-rule:nonzero"/></svg>
				</a>
				<a href="mailto:sarka.sskv@gmail.com" class="socialLink" target="_blank">
					<svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" id="Icons" viewBox="0 0 24 24"><defs><style>.cls-1{fill:#232323}</style></defs><path d="M20 2H4a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4Zm2 16a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2Z" class="cls-1"/><path d="M19.74 7.017a1 1 0 0 0-1.413-.067l-4.977 4.529a2.005 2.005 0 0 1-2.7 0L5.673 6.95a1 1 0 1 0-1.346 1.48l3.957 3.6-3.956 3.59a1 1 0 1 0 1.344 1.48l4.143-3.76a3.937 3.937 0 0 0 4.37 0l4.143 3.76a1 1 0 1 0 1.344-1.48l-3.955-3.591 3.956-3.6a1 1 0 0 0 .067-1.412Z" class="cls-1"/></svg>
				</a>
				<a href="https://maps.app.goo.gl/2V8HbG6bbVT4ebfV9" class="socialLink" target="_blank">
					<svg class="socialIcon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 26 26"><g fill="#1D1D1B"><path d="M24.9 24.054a.719.719 0 0 0 .084-.276c.003-.027.016-.05.016-.078 0-.025-.012-.046-.014-.07-.003-.025.005-.048 0-.072l-1.83-9.482c-.006-.027-.023-.048-.03-.073a.72.72 0 0 0-.362-.44.723.723 0 0 0-.27-.08c-.026-.002-.049-.015-.075-.015h-4.083l.282-.383.022-.03c.682-.96 1.496-2.5 1.496-4.37 0-3.922-3.179-7.115-7.093-7.135H12.992c-3.915.02-7.094 3.213-7.094 7.134 0 1.855.8 3.383 1.48 4.347l.022.033.298.404H3.58c-.027 0-.05.013-.077.016a.725.725 0 0 0-.63.518c-.007.026-.024.047-.03.074l-1.83 9.482c-.005.024.003.047 0 .071-.002.025-.014.046-.014.071 0 .028.013.05.016.078a.723.723 0 0 0 .264.493.716.716 0 0 0 .255.136c.026.008.046.024.072.03.049.009.096.013.142.013H24.25a.769.769 0 0 0 .143-.013c.026-.006.046-.022.072-.03a.724.724 0 0 0 .434-.353zM7.397 8.684a5.64 5.64 0 0 1 5.62-5.634 5.639 5.639 0 0 1 5.618 5.634c0 1.464-.653 2.7-1.205 3.484l-.006.007-4.407 5.996-4.392-5.973-.008-.01c-.556-.785-1.22-2.029-1.22-3.504zm5.002 11.18c.142.193.392.306.63.306s.463-.114.605-.306l3.599-4.896H21.8l1.541 7.982H2.66L4.2 14.968h4.6l3.6 4.896z"/><path d="M13.03 11.847c1.741 0 3.158-1.419 3.158-3.163s-1.417-3.163-3.158-3.163c-1.742 0-3.159 1.419-3.159 3.163s1.417 3.163 3.16 3.163zm0-5.326a2.163 2.163 0 0 1 0 4.326 2.164 2.164 0 0 1 0-4.326z"/></g></svg>
				</a>
			</div>
		</div>
		<div class="sectionBackground aboutBackground"></div>
	</section>
	<div id="pricing" class="sectionAnchor"></div>
	<section class="section section--pricing">
		<div class="sectionBackground pricingBackground"></div>
		<div class="content">
			<h2 class="title">Ceník</h2>

			<TinaMarkdown content={data.data.homepage.pricingText} />
		</div>
	</section>
	<div id="tattoo" class="sectionAnchor"></div>
	<section class="section section--tattoo">
		<div class="content">
			<h2 class="title">Tetování</h2>
			<div class="tattooGallery">
				{postImages.map((src) => (
					<a class="glightbox" href={src}>
						<img class="tattooImage" src={src} alt="Tetování" />
					</a>
				))}
			</div>
		</div>
	</section>
	<div id="reservation" class="sectionAnchor"></div>
	<section class="section section--reservation">
		<div class="content">
			<h2 class="title">Rezervace</h2>
			<TinaMarkdown content={data.data.homepage.reservationText} />
			<div class="reservationButtonWrapper">
				<a class="button button--reservation" href="https://www.onlinetermin.cz/customer?ownerId=628&entityId=738">Rezervovat</a>
			</div>
		</div>
		<div class="sectionBackground reservationBackground"></div>
	</section>
	<div id="photography" class="sectionAnchor"></div>
	<section class="section section--photo">
		<div class="sectionBackground photoBackground"></div>
		<div class="content">
			<h2 class="title">Fotografie</h2>
			<TinaMarkdown content={data.data.homepage.photoText} />
		</div>
	</section>
	<div id="painting" class="sectionAnchor"></div>
	<section class="section section--painting">
		<div class="content">
			<h2 class="title">Obrazy</h2>
			<TinaMarkdown content={data.data.homepage.paintingText} />
		</div>
		<div class="sectionBackground paintingBackground"></div>
	</section>
	<div id="therms" class="sectionAnchor"></div>
	<section class="section section--therms">
		<div class="sectionBackground thermsBackground"></div>
		<div class="content">
			<h2 class="title">Smluvní podmínky a ke stažení</h2>
			<div class="fileLinks">
				<FileLink href="https://assets.tina.io/74d418b2-9784-4385-ab0e-75c2249005a8/tetovani_ac.pdf" text="Péče o tetování" />
				<FileLink href="https://assets.tina.io/74d418b2-9784-4385-ab0e-75c2249005a8/obchodni_podminky_inkhouse.pdf" text="Obchodní podmínky" />
				<FileLink href="https://assets.tina.io/74d418b2-9784-4385-ab0e-75c2249005a8/formular_pro_nezletile.pdf" text="Formulář pro nezletilé" />
				<FileLink href="https://assets.tina.io/74d418b2-9784-4385-ab0e-75c2249005a8/cestne_prohlaseni_k_vytvoreni_tetovani.pdf" text="Čestné prohlášení k vytvoření tetování" />
				<FileLink href="https://assets.tina.io/74d418b2-9784-4385-ab0e-75c2249005a8/reklamacni_rad.pdf" text="Reklamační řád" />
			</div>
		</div>
	</section>
	<div id="faq" class="sectionAnchor"></div>
	<section class="section section--faq">
		<div class="content">
			<h2 class="title">FAQ</h2>
			{data.data.homepage.faq.map((faq) => (
				<div class="faqItem">
					<h3 class="faqQuestion">{faq.question}</h3>
					<div class="faqAnswer">
						<TinaMarkdown content={faq.answer} />
					</div>
				</div>
			))}
		</div>
		<div class="sectionBackground faqBackground"></div>
	</section>
</Layout>
<style>
	.section--intro {
		position: fixed;
		top: 0;
		left: 0;
		min-height: 100vh;
		background: url('../assets/intro-bg.jpg') no-repeat center center;
		background-attachment: scroll;
		background-size: cover;
	}

	.intro {
		position: relative;
		z-index: 1;
		background: linear-gradient(180deg, rgba(255,255,255,0), rgb(255,255,255));
	}

	.introText {
		margin: 100vh auto 0;
		max-width: 800px;
		padding: 140px 20px 40px;
		text-align: center;

		* {
			font-size: 30px;
			text-align: center;
		}
	}

	.introBg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.sectionAnchor {
		position: relative;
		top: -60px;
	}

	.sectionBackground {
		min-height: 50vh;
	}

	.aboutBackground {
		background: url('../assets/about-bg.jpg') no-repeat center center;
		background-size: cover;
	}

	.pricingBackground {
		background: url('../assets/pricing-bg.jpeg') no-repeat center center;
		background-size: cover;
	}

	.reservationBackground {
		background: url('../assets/reservation-bg.jpeg') no-repeat center center;
		background-size: cover;
	}

	.paintingBackground {
		background: url('../assets/painting-bg.jpeg') no-repeat center center;
		background-size: cover;
	}

	.photoBackground {
		background: url('../assets/photo-bg.jpeg') no-repeat center center;
		background-size: cover;
	}

	.thermsBackground {
		background: url('../assets/therms-bg.jpeg') no-repeat center center;
		background-size: cover;
	}

	.faqBackground {
		background: url('../assets/faq-bg.jpg') no-repeat center center;
		background-size: cover;
	}

	.section--tattoo {
		display: block;

		.content {
			padding-bottom: 0;
		}
	}

	.content {
		ul {
			margin: 10px 0;
		}
	}

	.socialLinks {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin: 60px auto 0;
	}

	.socialLink {
		display: block;
	}

	.socialIcon {
		height: 50px;
		transition: transform .25s;

		&:hover {
			transform: scale(1.1);
		}
	}

	.tattooGallery {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin: 0 -30px;
	}

	.tattooImage {
		display: block;
		width: 100%;
		height: 300px;
		object-fit: cover;
	}

	.reservationButtonWrapper {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}

	.mobileDummy {
		display: none;
	}

	.fileLinks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	.faqQuestion {
		display: flex;
		align-items: center;
		gap: 10px;
		border: 1px solid var(--main-color);
		padding: 10px 20px;
		font-size: 16px;
		font-weight: 400;
		transition: background-color .3s;
		cursor: pointer;

		&:hover {
			background-color: var(--main-color);
			color: white;

			&::before {
				border-color: white transparent transparent transparent;
			}
		}

		&::before {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 14px 8px 0 8px;
			border-color: var(--main-color) transparent transparent transparent;
			transform: rotate(270deg);
			transition: border-color .3s, transform .3s;
		}
	}

	.faqItem {
		+ .faqItem {
			margin-top: -1px;
		}

		&.open {
			.faqQuestion {
				background-color: var(--main-color);
				color: white;

				&::before {
					border-color: white transparent transparent transparent;
					transform: rotate(0);
				}
			}

			.faqAnswer {
				max-height: 1000px; /* Adjust as needed */
				opacity: 1;
				pointer-events: auto;
				border: 1px solid var(--main-color);
				padding: 10px 20px;
			}
		}
	}

	.faqAnswer {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: max-height 0.3s linear, opacity 0.3s linear;
	}

	.button {
		margin-top: 20px;
		display: inline-block;
		border: 1px solid var(--main-color);
		border-radius: 3px;
		padding: 0 20px;
		color: var(--main-color);
		line-height: 40px;
		transition: background-color .3s, color .3s;
		text-decoration: none;

		&:hover {
			background-color: var(--main-color);
			color: white;
		}
	}

	.button--reservation {
		font-weight: bold;
		line-height: 56px;
		border: 2px solid var(--main-color);
		background-color: var(--main-color);
		color: white;

		&:hover {
			background-color: white;
			color: var(--main-color);
		}
	}

	.glightbox {
		overflow: hidden;
	}

	.tattooImage {
		transition: transform .25s;

		&:hover {
			transform: scale(1.1);
		}
	}

	@media screen and (max-width: 980px) {
		.introText {
			* {
				font-size: 24px;
			}
		}

		.section--about {
			background: url('../assets/about-bg.jpg') no-repeat center bottom;
			background-size: 100%;
		}

		.section--pricing {
			background: url('../assets/pricing-bg.jpeg') no-repeat center bottom;
			background-size: auto 100%;
		}

		.pricingBackground,
		.photoBackground,
		.thermsBackground{
			grid-row: 2;
		}

		.section--reservation {
			background: none;
		}

		.mobileDummy {
			display: block;
			height: 30vh;
		}

		.dummy {
			display: none;
		}

		.section--about,
		.section--pricing,
		.section--reservation,
		.section--painting,
		.section--photo,
		.section--therms,
		.section--faq {
			background-size: 100%;
		}

		.fileLinks {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}

		.tattooGallery {
			grid-template-columns: repeat(2, 1fr);
		}

		.tattooImage {
			height: 200px;
		}
	}
</style>
<script client:only type="module">
	import 'https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js';

	GLightbox({
		zoomable: false,
	})

	document.addEventListener('DOMContentLoaded', () => {
		const faqQuestions = document.querySelectorAll('.faqQuestion');

		faqQuestions.forEach(question => {
			question.addEventListener('click', () => {
				const faqItem = question.closest('.faqItem');
				faqItem.classList.toggle('open');
			});
		});
	});
</script>