---
import { client } from '../../tina/__generated__/client'
import { TinaMarkdown } from 'tinacms/dist/rich-text'
import Layout from "../layouts/Layout.astro"
import FileLink from '../components/FileLink.astro'

const data = await client.queries.homepage({ relativePath: 'homepage.md' })

---

<Layout title="Šářka SVK">
	<section class="section section--intro">
		<div class="introText">
			<TinaMarkdown content={data.data.homepage.introText} />
		</div>
	</section>
	<section id="aboutMe" class="section section--about">
		<div class="content">
			<h2 class="title">O mně</h2>
			<TinaMarkdown content={data.data.homepage.aboutText} />
		</div>
		<div class="mobileDummy"></div>
	</section>
	<section id="pricing" class="section section--pricing">
		<div class="dummy"></div>
		<div class="content">
			<h2 class="title">Ceník</h2>
			<TinaMarkdown content={data.data.homepage.pricingText} />
		</div>
		<div class="mobileDummy"></div>
	</section>
	<section id="tattoo" class="section section--tattoo">
		<div class="content">
			<h2 class="title">Tetování</h2>
		</div>
	</section>
	<section id="reservation" class="section section--reservation">
		<div class="mobileDummy"></div>
		<div class="content">
			<h2 class="title">Rezervace</h2>
			<TinaMarkdown content={data.data.homepage.reservationText} />
			<a class="button" href="https://sarkassvk.setmore.com/jakub">Rezervovat</a>
		</div>
	</section>
	<section id="photography" class="section section--photo">
		<div class="mobileDummy"></div>
		<div class="dummy"></div>
		<div class="content">
			<h2 class="title">Fotografie</h2>
			<TinaMarkdown content={data.data.homepage.photoText} />
		</div>
	</section>
	<section id="painting" class="section section--painting">
		<div class="mobileDummy"></div>
		<div class="content">
			<h2 class="title">Obrazy</h2>
			<TinaMarkdown content={data.data.homepage.paintingText} />
		</div>
	</section>
	<section class="section section--therms">
		<div class="mobileDummy"></div>
		<div class="dummy"></div>
		<div class="content">
			<h2 class="title">Smluvní podmínky a ke stažení</h2>
			<div class="fileLinks">
				<FileLink href="http://localhost:4321/smluvni_podminky.pdf" text="Smluvní podmínky" />
				<FileLink href="http://localhost:4321/obchodni_podminky_inkhouse.pdf" text="Obchodní podmínky" />
				<FileLink href="http://localhost:4321/formular_pro_nezletile.pdf" text="Formulář pro nezletilé" />
				<FileLink href="http://localhost:4321/cestne_prohlaseni_k_vytvoreni_tetovani.pdf" text="Čestné prohlášení k vytvoření tetování" />
				<FileLink href="http://localhost:4321/reklamacni_rad.pdf" text="Reklamační řád" />
			</div>
		</div>
	</section>
	<section class="section section--faq">
		<div class="mobileDummy"></div>
		<div class="content">
			<h2 class="title">FAQ</h2>
			{data.data.homepage.faq.map((faq) => (
				<div class="faqItem">
					<h3 class="faqQuestion">{faq.question}</h3>
					<div class="faqAnswer">
						<TinaMarkdown content={faq.answer} />
					</div>
				</div>
			))}
		</div>
	</section>
</Layout>
<style>
	.section--intro {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		padding-top: 60px;
		background: url('../assets/intro-bg.jpg') no-repeat center center;
		background-attachment: fixed;
		background-size: cover;
	}

	.introText {
		position: relative;
		z-index: 1;
		max-width: 800px;
		padding: 0 20px;
		font-size: 30px;
		text-align: center;
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

		p {
			font-family: "Dancing Script", cursive;
		}
	}

	.introBg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.section--about {
		background: url('../assets/about-bg.jpg') no-repeat right top;
		background-attachment: fixed;
		background-size: 50%;
	}

	.section--pricing {
		background: url('../assets/pricing-bg.jpeg') no-repeat left center;
		background-attachment: fixed;
		background-size: contain;
	}

	.section--reservation {
		background: url('../assets/reservation-bg.jpeg') no-repeat right top;
		background-attachment: fixed;
		background-size: contain;
	}

	.section--painting {
		background: url('../assets/painting-bg.jpeg') no-repeat right top;
		background-attachment: fixed;
		background-size: contain;
	}

	.section--photo {
		background: url('../assets/photo-bg.jpeg') no-repeat left top;
		background-attachment: fixed;
		background-size: 50%;
	}

	.section--therms {
		background: url('../assets/therms-bg.jpeg') no-repeat left center;
		background-attachment: fixed;
		background-size: 50%;
	}

	.section--faq {
		background: url('../assets/faq-bg.jpeg') no-repeat right top;
		background-attachment: fixed;
		background-size: 50%;
	}


	.section--faq {
		background: url('../assets/faq-bg.jpeg') no-repeat right top;
		background-attachment: fixed;
		background-size: 50%;
	}

	.section--tattoo {
		display: block;
	}

	.mobileDummy {
		display: none;
	}

	.fileLinks {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	.faqQuestion {
		display: flex;
		align-items: center;
		gap: 10px;
		border: 1px solid var(--main-color);
		padding: 10px 20px;
		font-size: 16px;
		font-weight: 400;
		transition: background-color .3s;
		cursor: pointer;

		&:hover {
			background-color: var(--main-color);
			color: white;

			&::before {
				border-color: white transparent transparent transparent;
			}
		}

		&::before {
			content: '';
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 14px 8px 0 8px;
			border-color: var(--main-color) transparent transparent transparent;
			transform: rotate(270deg);
			transition: border-color .3s, transform .3s;
		}
	}

	.faqItem {
		+ .faqItem {
			margin-top: -1px;
		}

		&.open {
			.faqQuestion {
				background-color: var(--main-color);
				color: white;

				&::before {
					border-color: white transparent transparent transparent;
					transform: rotate(0);
				}
			}

			.faqAnswer {
				max-height: 1000px; /* Adjust as needed */
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	.faqAnswer {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: max-height 0.3s ease, opacity 0.3s ease;
	}

	.button {
		margin-top: 20px;
		display: inline-block;
		border: 1px solid var(--main-color);
		border-radius: 3px;
		padding: 0 20px;
		color: var(--main-color);
		line-height: 40px;
		transition: background-color .3s, color .3s;
		text-decoration: none;

		&:hover {
			background-color: var(--main-color);
			color: white;
		}
	}

	@media screen and (max-width: 980px) {
		.mobileDummy {
			display: block;
			height: 50vh;
		}

		.dummy {
			display: none;
		}

		.section--about,
		.section--pricing,
		.section--reservation,
		.section--painting,
		.section--photo,
		.section--therms,
		.section--faq {
			background-size: 100%;
		}

		.fileLinks {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const faqQuestions = document.querySelectorAll('.faqQuestion');

		faqQuestions.forEach(question => {
			question.addEventListener('click', () => {
				const faqItem = question.closest('.faqItem');
				faqItem.classList.toggle('open');
			});
		});
	});
</script>